In [ ]:
#taking input form the user
# bucky roberts
a='abc'
a=67
a=(input("enter value of a:"))
print(a)

enter value of a:89
89

In [ ]:
a=10
print(a)
a=30
print(a)

10
30

In [ ]:
a=2j+9
type(a)

complex

In [ ]:
a=[1,2,4,89,6.9]
sum(a)

102.9

In [ ]:
#data types:- int float double string list dictionary
#int :- 1 2 3 4 5
#float:- 1.1 3.3456 
#string :- abcd xyc 1234xyz
#list : [1,2 ,3]
#dictionary: {1:2 , 3:4}

l=[('microsoft','satya nadella'),('apple','tim cook'),('goldman sachs','david')]    #O(n)
a={'microsoft':'''satya nadella''','apple':'tim cook','goldman sachs':'david','amazon':'jeff',1:2,'david':'gs'}

# for (c,ceo) in l:
#   if(c=='microsoft'):
#     print(c,ceo,sep='->')



print('microsoft->',a['microsoft'])
print('apple->',a['apple'])
a[1]


a['david']

microsoft-> satya nadella
apple-> tim cook

'gs'

In [ ]:
a=(input())  # a is the available
print(a)
print(type(a))


a=int(input("enter a value"))  # a is the available
print(a)
print(type(a))

a=90
x=float(a)
x

89
89
<class 'str'>
enter a value1010
1010
<class 'int'>

90.0

In [ ]:
print(1,2,3)
print(1,2,3,sep="\t",end="\n")
print(1)

a=1
b=2
c=3
print(a,b,c,end="\n",sep=":")
print(1,2)
print(1,2,3,end="\n")

1 2 3
1	2	3
1
1:2:3
1 2
1 2 3

In [ ]:
#variable 

#variable_name= assign_value
a=10  #integer variable
b=10.6 # float variable
c="hello world" #string variable
d=[1,2,3,4]   #list datatype
e={1:2,3:4}    #dictionary variable
f=input()

78

In [ ]:
print(a,type(a),end='->')
print(b,type(b),end='->')
print(c,type(c))
print(d,type(d),end='->')
print(e,type(e),end='->')
34

10 <class 'int'>->10.6 <class 'float'>->hello world <class 'str'>
[1, 2, 3, 4] <class 'list'>->{1: 2, 3: 4} <class 'dict'>->

34

In [ ]:
multiple_word=10
var_1=10

In [ ]:
a=10
a=a+3
print(a)

13

In [ ]:
x=list(range(15,26,5))
x
a=x[0]
b=x[1]
c=x[2]
print(a,b,c)

15 20 25

In [ ]:
a1,a2,a3=range(3)    #[0,1,2]

In [ ]:
print(a1,a2,a3)
print(a1)
print(a2)
x=[1,2,3]
a,b,c=x
a

0 1 2
0
1

1

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
#strings are sequences of characters!! anythong can be considered as a string
a="123xyz"
b="srk"
c='123'
d2='''pqr

st'''



print(a,b,c,d2,sep="-->")
print(type(a))
print(type(b))
print(type(c))
print(type(d2))

123xyz-->srk-->123-->pqr

st
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
a='a \"bcd \"  $'


print(a)
#triple quotes work when the value of the variable is in multiple lines !! for the same line u can use single or dohble quotes


print(type(123))
print(type('123'))
print(type(123.0))
print(type('123.0'))
print(123,'123',123.0)

a "bcd "  $
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
123 123 123.0

In [ ]:
'''
this is a muliplt line 
comment
'''

a=10
b=20      #select everything u want to comment and pressed ctrl+/
c=10


print(a)
print(b)
print(c) #hey this a multiple line edit using alt in keyboard

"abcd"
20
10

In [ ]:
x=(1,2,3)
a,b,c=x
b

2

In [ ]:
print("abcde".index("cd"))
      #01234

# length :- 5
# indexing start from 0 and does till 4 (n-1)

s='abcde'
print(s.index("d"))   #index of the position of the substring in the string



print("f" in "india")
print("d" in "india")


if "a" in s:
  print(s.index("a"))
else:
  print("not present")

2
3
False
True
0

In [ ]:
a=["1","2","3"]
"1 2 3"

print(' '.join(a))

combined_string="/".join(["04","10","2022"])
print(combined_string)
print(type(combined_string))

1 2 3
04/10/2022
<class 'str'>

In [ ]:
dd,mm,yyyy=combined_string.split("/")
print(dd,mm,yyyy)

s= "i study in devtown"
s.split(" ")

04 10 2022

['i', 'study', 'in', 'devtown']

In [ ]:
a="i jdhkuwef jediuw jwqduq jshu"
a=a.split("j")
a

['i ', 'dhkuwef ', 'ediuw ', 'wqduq ', 'shu']

In [ ]:
"a".join(a)

'hey my name is rahul'

In [ ]:
#boolean data type in python
# True and False

a=True   
b=False
c='khushi'
print(bool(""))
print(bool('abcdfjfkjk'))
print(bool('khushi'))
print(bool(c))
abcdjfskljdfk=1
print(abcdjfskljdfk)
print()
print(bool(0))
print(bool(1))
print(bool(-1))
print(bool(100))
print(bool(-100))
print()
print(bool([]))
print(bool({}))
print(bool([0]))
print(bool({1:2}))
print()
print(bool('0'))

False
True
True
True
1

False
True
True
True
True

False
False
True
True

True

In [ ]:
x=[0]
if(len(x)):
  print("true")
else:
  print("false")

true

In [ ]:
a="abcdefg"  
  #0123456

#positive indexing
print(a[0])
print(a[2])
print(a[6])
#negetive indexing
print(a[-1])
print(a[-2])
#slicing
print(a[2:5:2])   #start at 2 and go until 5 not included

print(a[::-1])

print(a[-5:-1])
                #slicing 
print(a.index('g'))

a
c
g
g
f
ce
gfedcba
cdef
6

In [ ]:
a="abcd:efgh"
p=a.index(':')    #4
print(a[p+1:])     #a[5:]
print(a[:p])       #a[:4]

efgh
abcd

In [ ]:
a=(1,2,3,4,[5,6])
# p=a[-1]
# q=a[0]
# r=a[1]
# s=a[2]


p,q,r,s,t=a
print(p,q,r,s,t,sep="\n")

1
2
3
4
[5, 6]